body {
    
    nav {
    background-color: black;
    text-align: center;
    padding: 15px;

}
}
.header-link{
    display: flex;
}
.header-link a{
    padding: 0 25px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    
}
.header-link a:hover{
    background-color: brown;
    border-radius: 20px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 5%;
}
img{
    width: 100%;
    border-radius: 12%;
}
.pic{
    width: 50%;
}